{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Sousou</title>
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>

<body>
  <div class="vbox-layout">
    <div class="logo">
      Sousou&trade;
    </div>
    <form method="post" class="f-group">
      {% csrf_token %}
      <input autofocus="autofocus" type="text" id="f-input" name="search-content" value="">
      <button type="button" id="f-submit" name="submit">submit</button>
    </form>
  </div>
</body>

</html>
