<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Search</title>
  <link rel="stylesheet" href="../css/home.css">
</head>

<body>
  <div class="v-lay">
    <div id="home-title">
      <h1>
          Search&trade;
      </h1>
    </div>
    <div id="from-block">
      <form class="" method="post">
        <input type="text" name="" value="" placeholder="Enter the keywords" id="input-area">
        <br>
        <button type="button" name="button" id="submit-button">Start</button>
      </form>
    </div>
  </div>
</body>

</html>
